.phandau{
    display: inline-block;
}
.phandau p{
    display: inline-block;
    margin: 30px;
    color: black;
    border: 20px;
}
.phansau{
    margin-left: 30px;
    margin-bottom:20px ;
    

}
.form{
    display:inline-flex;
    width: 29%;
    gap: 25px;
    height: 300px;
    padding: 10px;
}
.form:hover{
    border: 1px solid blue;
    border-radius: 10px;
}
.form div{
    display: inline-block;

}
.div{
    color: blue;
    border: 1px solid blue;
    border-radius: 25px;
    padding: 5px;
    margin: 10px 20px 10px 0px;
}
.phansaus{
    display:block;

    
}